
<div *ngIf="isActive">
    <h3>{{ question.questionText }}</h3>
    <ul style="list-style-type:none">
        <li>
            
            <label>
                
                <input type="radio" name="answer" [(ngModel)]="selectedAnswer" value="1" >
                {{question.option1}}
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="answer" [(ngModel)]="selectedAnswer" value="2">
                {{question.option2}}
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="answer" [(ngModel)]="selectedAnswer" value="3">
                {{question.option3}}
            </label>

        </li>
        <li>
            <label>
                <input type="radio" name="answer" [(ngModel)]="selectedAnswer" value="4">
                {{question.option4}}
            </label>
        </li>
    </ul>
    <button (click)="submitAnswer()">Submit Answer</button>
</div>